body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    text-align: center;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1em;
}

main {
    padding: 2em;
}

form {
    display: inline-block;
    text-align: left;
    background-color: #fff;
    padding: 2em;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label, input, select, button {
    display: block;
    margin: 1em 0;
    width: 100%;
}

button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 1em;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}
